@charset "utf-8";

//fonts
@import url('https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Oxygen:400,700|Raleway:400,700,900|Rufina:400,700');
$fonts: (
  'oxygen': ('Oxygen', sans-serif),
  'rufina': ('Rufina', serif),
  'dancing': ('Dancing Script', cursive),
  'raleway': ('Raleway', sans-serif)
);

//colors
$brown: #a69069;

%ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
}

//--
header{
  position: relative;
  min-height: 100vh;
  background: yellow;

  ul.slider-cont{
    @extend %ul;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%; width: 100%;

    li{
      height: inherit;
      background: no-repeat center top;
    }
  }
  .row-1{

  }

}
